*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #548687;
    text-align: center;
    
    
}
.box{
    width: 100px;
    height:100px ;
    background-color: #ffffc7;
    color: #b0413e;
    font-size: 50px;
    border-radius: 10px;
    border: none;
    
}
.msg{
    color: #ffffc7;
    font-size: 30px;
}
.newbtn{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.msg-container{
    margin-bottom: 100px;
}




.last{
    background-color: black;
    color:white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border:none;
    }
.game{
    height: 300px;
    width: 400px;
    flex-wrap: wrap;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.hide{
    display: none;
}